<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">FS.TV</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          <li id="reportrange" class="btn btn-green btn-square date-picker">
              <i class="fa fa-calendar"></i>
              <span class="date-range">May 20, 2014 - June 18, 2014</span> <i class="fa fa-caret-down"></i>
          </li>
          <li class="active dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Total TV <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/networks/category/cable">Total TV</a></li>
              <li><a href="/networks/category/cable">Cable</a></li>
              <li><a href="/networks/category/broadcast">Broadcast</a></li>
            </ul>
          </li>
          <!-- <li><a href="/shows"><i class="fa fa-table"></i> Programs</a></li> -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Programs <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/networks/category/cable">Networks</a></li>
              <li><a href="/networks/category/broadcast">Programs</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> All Genres <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/networks/category/cable">All Genres</a></li>
              <li><a href="/networks/category/broadcast">Drama</a></li>
              <li><a href="/networks/category/broadcast">Reality</a></li>
              <li><a href="/networks/category/broadcast">Comedy</a></li>
              <li><a href="/networks/category/broadcast">Events</a></li>
            </ul>
          </li>
         
        </ul>
        <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
        <ul class="nav navbar-nav navbar-right navbar-user">
<!--           <li class="dropdown messages-dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">7</span> <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li class="dropdown-header">7 New Messages</li>
    <li class="message-preview">
      <a href="#">
      <span class="avatar"><img src="http://placehold.it/50x50"></span>
      <span class="name">David Ho:</span>
      <span class="message">Hey there, I wanted to ask you something...</span>
      <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
      </a>
    </li>
    <li class="divider"></li>
    <li class="message-preview">
      <a href="#">
      <span class="avatar"><img src="http://placehold.it/50x50"></span>
      <span class="name">David Ho:</span>
      <span class="message">Hey there, I wanted to ask you something...</span>
      <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
      </a>
    </li>
    <li class="divider"></li>
    <li class="message-preview">
      <a href="#">
      <span class="avatar"><img src="http://placehold.it/50x50"></span>
      <span class="name">David Ho:</span>
      <span class="message">Hey there, I wanted to ask you something...</span>
      <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
      </a>
    </li>
    <li class="divider"></li>
    <li><a href="#">View Inbox <span class="badge">7</span></a></li>
  </ul>
</li> -->
          <li class="dropdown user-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> David Ho <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
              <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
              <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
            </ul>
          </li>
        </ul>
        </div><!-- /.navbar-collapse -->
</nav>