<div id="wrapper">

  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1><small></small></h1>
        <ol class="breadcrumb">
                                <li class="active"><i class="fa fa-dashboard"></i> <a href="/">Dashboard</a></li>
                                <li class="active"><a href="/networks">Networks</a></li>
                                <li class="active">{{category}}</li>
                </ol>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          Welcome to FS.TV. Stroll through your Television analytics on Facebook
        </div>
      </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="nav nav-pills">
        <div class="col-lg-3">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <i class="fa fa-list fa-5x"></i>
                </div>
                <div class="col-xs-6 text-right">
                  <p class="announcement-heading">94</p>
                  <p class="announcement-text">Programs</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3" ng-class="{active: selectedTab == 2}">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-6 text-right">
                  <p class="announcement-heading">1473</p>
                  <p class="announcement-text">Posts</p>
                </div>
              </div>
            </div>
            <a ng-click="selectedTab = 2;">
            <div class="panel-footer announcement-bottom">
                <div class="row">
                    <div class="col-xs-6">
                        View Activity Graph
                    </div>
                    <div class="col-xs-6 text-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </div>
                </div>
            </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3" ng-class="{active: selectedTab == 3}">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <i class="fa fa-tree fa-5x"></i>
                </div>
                <div class="col-xs-6 text-right">
                  <p class="announcement-heading">14.2</p>
                  <p class="announcement-text">Engagement</p>
                </div>
              </div>
            </div>
            <a ng-click="selectedTab = 3;">
            <div class="panel-footer announcement-bottom">
                <div class="row">
                    <div class="col-xs-6">
                        View Activity Graph
                    </div>
                    <div class="col-xs-6 text-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </div>
                </div>
            </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3" ng-class="{active: selectedTab == 4}">
          <div class="panel panel-success">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <i class="fa fa-child fa-5x"></i>
                </div>
                <div class="col-xs-6 text-right">
                  <p class="announcement-heading">1.4</p>
                  <p class="announcement-text">Fans</p>
                </div>
              </div>
            </div>
            <a ng-click="selectedTab = 4;">
            <div class="panel-footer announcement-bottom">
                <div class="row">
                    <div class="col-xs-6">
                        View Activity Graph
                    </div>
                    <div class="col-xs-6 text-right">
                        <i class="fa fa-arrow-circle-right"></i>
                    </div>
                </div>
            </div>
            </a>
          </div>
        </div>
      </div>
      </div><!-- /.row -->
      <div>
        
        <div class="row tab-content" ng-show="selectedTab == 2" id="poststab">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Posts Activity</h3>
              </div>
              <div class="panel-body">
              <networkschart xkey="xkey" ykeys="ykeys" labels="labels" data="postsdata"></networkschart>
              </div>
            </div>
          </div>
        </div>
        <div class="row tab-content" ng-show="selectedTab == 3" id="enggtab">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Engagement Activity</h3>
              </div>
              <div class="panel-body">
              <networkschart xkey="xkey" ykeys="ykeys" labels="labels" data="engagementdata"></networkschart>
              </div>
            </div>
          </div>
        </div>
        <div class="row tab-content" ng-show="selectedTab == 4" id="fanstab">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Fans Activity</h3>
              </div>
              <div class="panel-body">
              <networkschart xkey="xkey" ykeys="ykeys" labels="labels" data="fansdata"></networkschart>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-hover table-striped tablesorter">
                <thead>
                  <tr>
                    <th class="header"></i></th>
                    <th class="header headerSortUp">RANK </th>
                    <th class="header">NETWORK <i class="fa fa-sort"></i></th>
                    <th class="header">PROGRAM <i class="fa fa-sort"></i></th>
                    <th class="header">POSTS <i class="fa fa-sort"></i></th>
                    <th class="header">ENG/SHR <i class="fa fa-sort"></i></th>
                    <th class="header">IMPS/SHR <i class="fa fa-sort"></i></th>
                    <th class="header">FANS <i class="fa fa-sort"></i></th>
                  </tr>
                </thead>
                
                <tbody>
                  <tr ng-repeat="network in networks">
                    <td><img src="/images/logo/{{network.meta.title | slug}}.png" height="128" width="128"></td>
                    <td>{{$index + 1}}</td>
                    <td><a href="/networks/{{network.meta.title}}">{{network.meta.title}}</a></td>
                    <td><a href="/shows/{{network.meta.title | slug}}">6</td>
                    <td>{{network.metrics.posts}}</td>
                    <td>{{network.metrics.engagement}}</td>
                    <td><i class="fa fa-lock fa-lg"></i> </td>
                    <td>{{network.metrics.fans}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div><!-- /.row -->
        </div><!-- /#page-wrapper -->
        </div><!-- /#wrapper -->
        <script type="text/javascript">
$('#reportrange').daterangepicker(
    {
      ranges: {
         'Today': [moment(), moment()],
         'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
         'Last 7 Days': [moment().subtract('days', 6), moment()],
         'Last 30 Days': [moment().subtract('days', 29), moment()],
         'This Month': [moment().startOf('month'), moment().endOf('month')],
         'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
      },
      startDate: moment().subtract('days', 29),
      endDate: moment()
    },
    function(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
);
</script>